{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Пароль успешно сброшен — Tea Atlas" %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card tea-feature">
                <div class="card-body">
                    <h5 class="card-title text-center">{% trans "Пароль успешно сброшен" %}</h5>

                    <p>{% trans "Ваш пароль успешно изменен. Теперь вы можете войти с использованием нового пароля." %}</p>

                    <p class="text-center mt-4"><a href="{% url 'users:login' %}">{% trans "Войти" %}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 