{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load vite_static %}

{% block title %}{% trans "Колесо вкусов — Tea Atlas" %}{% endblock %}

{% block extra_head %}
  <script>console.log('EXTRA_HEAD WORKS');</script>
  {% if debug %}
    <script type="module" src="{{ vite_dev_server }}/src/main.tsx"></script>
  {% else %}
    <script type="module" src="https://tea-project-0buv.onrender.com/static/assets/main.CD-h2EUG.js"></script>
    <link rel="stylesheet" href="https://tea-project-static.onrender.com/assets/main.B2gGK-0F.css">
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="mb-4">DIAGRAM DEBUG 12345</h1>

  <div class="card shadow-sm border-0">
    <div class="card-body">
      <div id="root" class="w-100"></div>
    </div>
  </div>
{% endblock %}
