{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% trans "Tea Atlas" %}{% endblock %}</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Основные стили -->
  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'club.css' %}" type="text/css">

  <!-- Vite built assets -->
  {% if vite_assets %}
  <link rel="stylesheet" href="{% static 'assets/main.B2gGK-0F.css' %}" type="text/css">
  {% endif %}

  {% block extra_head %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
  {% include "components/mobile_menu.html" %}

  <div class="d-flex flex-grow-1 main-layout flex-wrap flex-xl-nowrap">
    {% include "components/left_sidebar.html" %}

    <!-- Контент -->
    <main class="flex-grow-1 d-flex flex-column align-items-center">
      <section class="content-block px-3 py-4">
        {% block content %}{% endblock %}
      </section>
    </main>

    {% block right_sidebar %}{% endblock %}
  </div>

  {% include "components/footer.html" %}
  {% include "components/scripts.html" %}
  {% block extra_js %}{% endblock %}
  <script>console.log('Проверка из base.html');</script>
</body>
</html>
