{% load static %}
{% load i18n %}
{% load vite_static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  {% include "components/head.html" %}
</head>
<body class="d-flex flex-column min-vh-100">
  {% include "components/mobile_menu.html" %}

  <div class="d-flex flex-grow-1 main-layout flex-wrap flex-xl-nowrap">
    {% include "components/left_sidebar.html" %}

    <!-- Контент -->
    <main class="flex-grow-1 d-flex flex-column align-items-center">
      <section class="content-block px-3 py-4">
        {% block content %}{% endblock %}
      </section>
    </main>

    {% block right_sidebar %}{% endblock %}
  </div>

  {% include "components/footer.html" %}
  {% include "components/scripts.html" %}
  {% block extra_js %}{% endblock %}
  <script>console.log('Проверка из base.html');</script>
</body>
</html>
